/* ==========================================================================
   5. Content
   ========================================================================== */

.post {
  border-bottom: 1px solid _palette(border);
  padding: 3.33333em 0 1.66667em;
}

.post-header {
  margin-bottom: 1.66667em;
}

.post-date {
  color: _palette(meta);
  display: inline-block;
  font-size: 14px;
  font-weight: regular;
  margin-bottom: 1.25em;
}

.post-title {
  font-size: 2rem;
  margin: 0 0 1rem;

  @media only screen and (max-width: 600px) {
    font-size: 1.875rem;
    letter-spacing: normal;
    line-height: 1.2;
  }

  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      color: _palette(accent);
    }
  }
}

.read-more {
  font-weight: bold;
}

  @media only screen and (max-width: 480px) {
    .author-avatar {
      float: none;
      margin-bottom: 1.25em;
      margin-right: 0;
    }

    .author-avatar + .author-details {
      padding-left: 0;
    }
  }
}

/* Archive page */
.archive-tags {
  font-style: italic;
  a {
    margin-right: 5px;
    &:before {
      content: "\0023";
    }
  }
}

.archive-top-link {
  color: _palette(meta);
  font-size: 0.88889em;
  margin-bottom: 1.25em;
}

.archive-post-list {
  list-style: none;
  padding: 0;
  li {
    margin-bottom: 1em;
  }
}

.archive-meta {
  color: _palette(meta);
  .archive-date {
    font-size: 14px;
    font-weight: bold;
  }
}